pkgbase = Ciphey
	pkgdesc = Automated Description Tool
	pkgver = 4.2.1
	pkgrel = 1
	url = https://github.com/ciphey/ciphey
	arch = any
	license = MIT
	makedepends = python>=3.7
	depends = python>=3.7

pkgname = Ciphey

