include /app/neuralNetworkMod/*
include /app/neuralNetworkMod/NeuralNetworkModel.model
include /app/languageCheckerMod/*
include README.MD
include /app/neuralNetworkMod/*
include /app/neuralNetworkMod/NeuralNetworkModel.model
NeuralNetworkModel.model
English.txt
recursive-include *