absl-py==0.9.0
alabaster==0.7.12
alive-progress==1.5.1
appdirs==1.4.4
astroid==2.4.1
astunparse==1.6.3
attrs==19.3.0
Babel==2.8.0
black==19.10b0
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
ciphey==3.5.9
cipheycore==0.1.4
cipheydists==0.1.3
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
coverage==5.1
docutils==0.16
flake8==3.8.2
gast==0.3.3
google-auth==1.16.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.29.0
h5py==2.10.0
idna==2.9
imagesize==1.2.0
isort==4.3.21
Jinja2==2.11.2
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
loguru==0.5.0
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.3.0
msgpack==1.0.0
neovim==0.3.1
numpy==1.18.4
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.4
pathspec==0.8.0
pluggy==0.13.1
pprintpp==0.4.0
protobuf==3.12.2
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pylint==2.5.2
pynvim==0.4.1
pyparsing==2.4.7
pytest==5.4.2
pytest-cov==2.9.0
pytz==2020.1
PyYAML==5.3.1
regex==2020.5.14
requests==2.23.0
requests-oauthlib==1.3.0
rich==1.3.0
rsa==4.0
scipy==1.4.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.0.4
sphinx-autodoc-typehints==1.10.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
