absl-py==0.9.0
astroid==2.4.2
astunparse==1.6.3
cachetools==4.1.0
certifi==2020.4.5.2
chardet==3.0.4
cipheycore==0.1.5
cipheydists==0.2.2
colorama==0.4.3
commonmark==0.9.1
flake8==3.8.3
flatbuffers==1.12
gast==0.3.3
google-auth==1.17.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
idna==2.9
isort==4.3.21
keras-preprocessing==1.1.2
lazy-object-proxy==1.4.3
loguru==0.5.0
markdown==3.2.2
mccabe==0.6.1
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.2.1
pprintpp==0.4.0
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyflakes==2.2.0
pygments==2.6.1
pylint==2.5.3
requests==2.23.0
requests-oauthlib==1.3.0
rich==1.3.1
rsa==4.1.1
scipy==1.4.1; python_version >= "3"
six==1.15.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
tflite==2.2.0
toml==0.10.1
typing-extensions==3.7.4.2
urllib3==1.25.9
werkzeug==1.0.1
wheel==0.34.2
win32-setctime==1.0.1; sys_platform == "win32"
wrapt==1.12.1
